.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;

  background: #fff;
  border-radius: 12px;
}

.error {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;

  color: #b23b2c;
}

@media (min-width: 768px) {
  .form > button {
    align-self: flex-start;
  }
}
