.sources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 100%;
}

.sourcesTitle {
  margin: 0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.source {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;

  width: 100%;
}

.number {
  flex: none;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.sourceTitle {
  flex: 1;
  min-width: 0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.intro {
  margin: 0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.list {
  margin: 0;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  list-style: disc;
}

.list li::marker {
  color: #000000;
}
