@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/manrope-cyrillic.woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope/manrope-latin.woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #f69827 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f69827;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e9850f;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Manrope";
  line-height: 1.5;
  color: #111;
  background: #fff;
  overflow-x: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

body > main {
  flex: 1 0 auto;
}

section[id],
footer[id] {
  scroll-margin-top: 100px;
}

.nedra-logo-fill {
  clip-path: inset(0 100% 0 0) fill-box;
  transition: clip-path 0.6s ease;
}
