.button {
  box-sizing: border-box;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;

  background: transparent;
  border: 1px solid #f69827;
  border-radius: 100px;
  cursor: pointer;

  text-decoration: none;

  transition: background 0.2s ease;

  &:hover:not(:disabled) {
    background: #f69827;

    .text {
      color: #fff;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;

  color: #0b0b0b;

  transition: color 0.2s ease;
}
