.button {
  position: relative;
  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 10px;

  background: #f69827;
  border: 1px solid #f69827;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;

  transition: background 0.2s ease;

  &:hover:not(:disabled) {
    background: #e9850f;
    border-color: #e9850f;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &.loading {
    opacity: 1;
  }

  &.loading .text {
    visibility: hidden;
  }
}

.spinner {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #fff;
}
