.row {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 20px;
  gap: 20px;

  width: 100%;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ffffff;
  box-shadow: 5px 5px 10px rgba(246, 152, 39, 0.1);
  border-radius: 20px;
}

.text {
  flex: 1;
  min-width: 0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #0b0b0b;
}

.numberCol {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex: none;

  padding-left: 20px;

  border-left: 1px solid rgba(11, 11, 11, 0.4);
}

.number {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 36px;

  color: rgba(11, 11, 11, 0.5);
}

@media (min-width: 1440px) {
  .row {
    flex-direction: row;
    align-items: stretch;
    min-height: 116px;
  }

  .rowTall {
    min-height: 192px;
  }

  .card {
    flex: 1;
    min-width: 0;
    width: auto;
  }
}
