.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;

  width: 632px;
  flex: none;

  background: #ffffff;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0 0 20px;
}

.split {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;

  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  flex: 1;
  min-width: 0;
}
