.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.title {
  width: 100%;
  margin: 0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  color: #0b0b0b;
}

.subtitle {
  width: 100%;
  margin: 0;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #0b0b0b;
}

@media (min-width: 1440px) {
  .title {
    line-height: 39px;
  }
}
