.section {
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 100px 50px;
  background: #ffffff;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 700px;
  margin: 0 auto 50px;
}

.title {
  width: 100%;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  color: #0b0b0b;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
}
