.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;

  width: 100%;
}

.title {
  width: 100%;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: #0b0b0b;
}

.titleAccent {
  color: #f69827;
}

@media (min-width: 1440px) {
  .title {
    line-height: 39px;
  }
}
