.section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 20px;

  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding: 100px 50px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 1440px;
    max-width: 1440px;
  }
}
